:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --cyan: hsl(180, 66%, 49%);
  --dk-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --gray-violet: hsl(257, 7%, 63%);
  --very-dk-blue: hsl(255, 11%, 22%);
  --very-dk-violet: hsl(260, 8%, 14%);
}