@use '../util/' as *;

.cta {
  display: inline-block;
  background-color: var(--cyan);
  border-radius: rem(30);
  transition: opacity 300ms ease-in;
  font-weight: 700;
  color: var(--white);

  &:hover {
    opacity: .5;
  }
}