@use '../util/' as *;

.footer {

  &__section1 {
    padding-block: rem(96);
    text-align: center;
    background-color: var(--dk-violet);
    background-image: url('../images/bg-boost-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;

    @include breakpoint-up(medium) {
      padding-block: rem(71);
      background-image: url('../images/bg-boost-desktop.svg');
    }

    h2 {
      margin-bottom: rem(27);
      font-size: rem(23);
      color: var(--white);

      @include breakpoint-up(medium) {
        font-size: rem(33);
      }
    }

    a {
      padding-block: rem(16);
      padding-inline: rem(52);
      font-size: rem(16);
    }
  }

  > div {
    background-color: var(--very-dk-violet);
  }

  &__section2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-block: rem(54);

    @include breakpoint-up(large) {
      grid-template-columns: 1fr 2fr;
      padding-block: rem(74);
    }

    img {
      place-self: center;
      width: rem(120);
      height: rem(35);
      margin-bottom: rem(53);

      @include breakpoint-up(large) {
        place-self: start;
      }
    }
  }
}